option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    ProxyServer: nginx
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"

commands:
  01_build_client:
    command: "chmod +x .ebextensions/build_client.sh && ./.ebextensions/build_client.sh"
